_bckp/
.venv/
.venv_paddle/
__pycache__/
node_modules/
sessions/
~/.cache/huggingface/
.cache/
data_forge/

# Python
*.pyc
*.pyo
.env
*.env.local
*.exe

#DataBase
*.sqlite
coc_rules_db/
coc_scenario_db/

# Media
*.jpg
*.jpeg
*.png
*.gif
*.mp4

# Logs
*.log
logs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?